*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: postmark;
}
html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 199, 204);
}

.box{
    padding: 16px 30px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

h2{
    font-size: 55px;
    color: red;
}

button{
    padding: 10px 18px;
    background-color: seagreen;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}