*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html, body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: aquamarine;
}

#box{
    padding: 20px;
    max-width: 260px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}

#box h1{
    font-size: 35px;
}

#box h4, #box p{
    margin-top: 10px;
}